@font-face {
    src: url('fonts/spongebob.ttf');
    font-family: 'spongebob';
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: #9fbcdf;
    background-image: url('../img/bubbles.png');
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'spongebob';
    color: rgb(238, 203, 46);
    text-shadow: 3px 3px 0 #4074b5, 3px -3px 0 #4074b5, -3px 3px 0 #4074b5,
        -3px -3px 0 #4074b5, 3px 0px 0 #4074b5, 0px 3px 0 #4074b5,
        -3px 0px 0 #4074b5, 0px -3px 0 #4074b5;
    letter-spacing: 0.2rem;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border: none;
    cursor: pointer;
}

.editor {
    display: flex;
    align-items: center;
    justify-content: center;
}

.editor-options {
    max-width: 200px;
}

.editor-options button {
    font-size: 1.2rem;
    height: 2rem;
    min-width: 2.2rem;
    margin: 3px;
    background-color: aliceblue;
}

.back-btn {
    font-size: 2rem;
    font-weight: 900;
    background-color: inherit;
}

.icon {
    height: 30px;
    width: 30px;
    cursor: pointer;
}


.gallery {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 800px;
}

.gallery img {
    height: 100%;
    width: 100%;
    /* border-radius: 10px; */
    box-shadow: 0px 0px 12px 1px #244e81;
    cursor: pointer;
}

.gallery img:hover {
    box-shadow: 0px 0px 0px 3px #c2d0e0;
}

/* helpers */
.hidden {
    display: none;
}

/* medium breakpoint */

@media (max-width: 1200px) {
    .gallery {
        width: 550px;
    }
}

/* small breakpoint */

@media (max-width: 680px) {
    .gallery {
        width: 300px;
    }

    .editor {
        flex-direction: column;
    }
}