@font-face {
    src: url('fonts/sponge2.ttf');
    font-family: 'sponge';
}

@font-face {
    src: url('fonts/sponge-handwrite.ttf');
    font-family: 'sponge-handwrite';
}

@font-face {
    src: url('fonts/Assistant-Medium.ttf');
    font-family: 'assistant-medium';
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.main-layout {
    max-width: 900px;
}

body {
    margin: 0;
    background-color: #86b0cc;
    color: #323650;
    text-align: center;
    font-family: 'sponge-handwrite';
}

header,
footer {
    background-color: #4b93b9;
}

.header-container {
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

header .logo {
    display: inline-block;
    margin-inline-start: 40px;
    font-family: 'sponge';
    color: #dfc861;
    text-shadow: -3px 1px 0px #323650, -5px 3px 1px #323650;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
}

header .about-me {
    margin-inline-end: 40px;
    font-size: 2rem;
    cursor: pointer;
    color: #24273a;
}

.sponge-symbols-big {
    font-family: 'sponge';
    font-size: 3rem;
    font-weight: 100;
}

.sponge-symbols-small {
    font-family: 'sponge';
    font-size: 2.3rem;
}

a {
    text-decoration: none;
    color: unset;
}

.filter-line {
    font-size: 2rem;
    margin: 15px;
    color: #484e75;
}


.filter-item {
    cursor: pointer;
    font-size: 1.4rem;
}


.canvas-container {
    margin: auto 20px;
}


.editor-container {
    max-width: 665px;
    margin: auto;
}

.editor {
    display: flex;
    padding: 40px 30px;
    background-image: url('../img/bubbles.jpg');
    box-shadow: inset 1px 0px 21px 5px #d3dceee5;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}

.editor-options {
    max-width: 300px;
    background-color: #4b93b9;
    box-shadow: inset 0px 0px 20px 6px #b4cad882;
    padding: 25px;
    border-radius: 10px;
}

.inline-support-message {
    margin-top: 0;
    margin-bottom: auto;
    font-family: 'assistant-medium';
    font-size: 0.8rem;
    font-weight: bold;
    font-style: italic;
}


#text-input {
    width: 170px;
    height: 30px;
    font-family: 'assistant-medium';
}

#text-fill,
#text-stroke {
    visibility: hidden;
    height: 0px;
    width: 0px;
    border: none;
    margin-bottom: 10px;
    padding: 0;
}

#font-select {
    width: 65px;
    height: 25px;
    vertical-align: bottom;
    margin-bottom: 5px;
    margin-bottom: 10px;
    background-color: #8ab9d3;
    font-family: impact;
}

.icon {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.ready {
    vertical-align: bottom;
    font-size: 1.3rem;
    cursor: pointer;
}

.back {
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
}

.back:hover,
.ready:hover {
    color: #b4dac9;
}

.gallery {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 80px;
}

.gallery img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 1px #244e81;
    cursor: pointer;
}

.gallery img:hover {
    box-shadow: 0px 0px 12px 1px #bae5d2;
}

footer {
    position: relative;
}

.back-up {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 1.6rem;
    color: #dfc861;
}

.back-up:hover {
    color: #323650;
}

.footer-container {
    max-width: 740px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.my-image {
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.about-paragraph {
    font-size: 1.5rem;
    line-height: 1.2;
    text-align: start;
    margin-left: 30px;
}

.social-icon {
    size: 30px;
    width: 30px;
}

/* helpers */
.hidden {
    display: none;
}

.impact {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.verdona {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tahoma {
    font-family: Tahoma;
}

.sponge {
    font-family: 'sponge';
}

/* larger screens breakpoint */

@media (min-width: 1300px) {

    html {
        font-size: 20px;
    }

    .main-layout {
        max-width: 1100px;
    }

    .editor-container {
        max-width: 800px;
    }

    .editor {
        padding: 100px 30px;
    }

    .footer-container {
        max-width: 870px;
    }
}


/* medium breakpoint */

@media (max-width: 1200px) {
    .main-layout {
        max-width: 550px;
    }
}

/* small breakpoint */

@media (max-width: 740px) {
    .header-container {
        max-width: 400px;
        margin-bottom: 20px;
    }

    header .logo {
        font-size: 1.5rem;
    }

    header .about-me {
        font-size: 1.2rem;
    }

    header .about-me .spongebob {
        display: none;
    }

    .gallery {
        max-width: 300px;
    }

    .editor-container {
        max-width: 340px;
        margin-bottom: 30px;
    }

    .editor {
        flex-direction: column;
        padding: 10px;
    }

    .inline-support-message {
        display: none;
    }

    .footer-container {
        flex-direction: column;
    }

    .about-paragraph p {
        text-align: center;
        margin-block-start: 0;
    }
}